body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.error-container {
  margin-top: 100px;
}

h1 {
  font-size: 100px;
  color: #333;
}

h2 {
  font-size: 36px;
  color: #666;
}

p {
  font-size: 18px;
  color: #999;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2rem;
}
